<mat-card class="list">
  <mat-card-title>
    List - {{jobList.name}} ID: {{jobList.id}}
  </mat-card-title>
  <mat-form-field>
    <input matInput placeholder="Name"  [(ngModel)]="jobList.name" name="name" (ngModelChange)="onSave()">
  </mat-form-field>
  <button mat-button (click)="onDestroy()">destroy</button>
  <br>
  <mat-form-field>
    <input matInput placeholder="Create Item" [(ngModel)]="jobItem.title" title="title">
  </mat-form-field>
  <button mat-button (click)="onJobItemCreate()">add</button>

    <div *ngFor="let jobItem of jobItems" class="jobItem">
    <app-job-item [jobItem]="jobItem" (destroy)="onJobItemDestroy($event)"></app-job-item>
    </div>


</mat-card>

