<h1 id="titleOffers">Open job offers: 3</h1>

 <ul class="pseude">
  <li *ngFor="let job of jobPostings" id="list">




<h2 id="titleJob">{{job.titel}}</h2>
    <h3 id="company">{{job.company}} {{job.location}}</h3>
<br>
    <span id="description">{{job.description}}</span>
    <br>
    <br>
  <span id="pensumDate">{{job.pensum}} -------- Published:{{job.date}}</span>
    <br>
    <br>
    <br>

    <br>

    <!--  <span class="badge"> {{job.position}} {{job.company}}</span> -->






      </li>
    </ul>

<!-- maybe delete this

<h4 *ngIf="error">{{error}}</h4>
<form (ngSubmit)="submit()">
  <div class="form-group col-3">
    <label>Username</label>
    <input type="text" name="username" class="form-control" [(ngModel)]="username" />
  </div>
  <div class="form-group col-3">
    <label>Password</label>
    <input type="password" name="password" class="form-control" [(ngModel)]="password" />
  </div>
  <div class="form-group col-3">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
-->
