<div class ="row">
  <div class ="col-xs-12">
  </div>
</div>
<div clas ="row">
  <div class ="col-xs-12">
    <h1>{{'job-detail.title'| translate}}:  {{job.title}}</h1>
  </div>
</div>
<div class = "row">
  <div class="col-xs-12">
    <div class = "btn-group">
      <button type ="button"
              class ="btn btn-primary dropdown-toggle">
        {{'job-detail.manageJob'| translate}}<span class ="caret"></span>
      </button>
      <ul class =dropdown-menu>
        <li><a href ='Edit Job'></a></li>
        <li><a href = 'Delete Job'></a></li>

      </ul>
    </div>
  </div>
</div>
<div class ="row">
  <div class ="col-cs-12">
    {{job.description}}
  </div>
</div>
<div class ="row">
  <div class ="col-xs-12">
    {{'job-detail.details'| translate}}
  </div>
</div>
