
<div class="cardSearch" *ngIf="!editJob">
  <!-- Allows Admin to filter jobpostings by approved/non-approved -->

  <div  *ngIf="admin">
    <label id="filter">{{'jobpostingdetail.setFilter' | translate}}: </label>
    <mat-form-field>
      <mat-select #choose placeholder="Options" [formControl]="chosen" (selectionChange)="filtering()">
        <mat-option  [value]="undefined">All Jobpostings</mat-option>
        <mat-option  [value]="true">Approved Jobpostings</mat-option>
        <mat-option [value]="false">non-Approved Jobpostings</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-grid-list  class="list" cols="1" rowHeight="400" gutterSize="15px">
      <mat-grid-tile  *ngFor="let jobItem of jobItems | filterBy: jobItemFilter">
        <mat-card class="cardJob" >
        <div> <img class="resize" src="../../assets/companyLogo.png"/> </div>

         <div id="info">
          <mat-card-header >
            <mat-card-title class="cardTitle">{{jobItem.title}}</mat-card-title>
            <mat-card-subtitle class="subtitle" > <strong style="font-size: 17.5px">{{jobItem.company}}</strong> <span style="font-size: 20px"> - </span> {{jobItem.location}}</mat-card-subtitle>
         <!--   <mat-card-subtitle class="cardDate" >{{jobItem.createdAt | date}}</mat-card-subtitle>
            <mat-card-subtitle >{{jobItem.updatedAt| date}}</mat-card-subtitle> -->

          </mat-card-header>

          <mat-card-content class="mat-class-content">

            <p class="description" type="text">{{jobItem.description}}</p>

            <label class="jobDetail">{{jobItem.category}}</label>
            <label class="jobDetail">{{jobItem.pensum}} %</label>
            <label class="jobDetail">{{jobItem.position}}</label>

            <label  class="contact">Contact:  <span style="margin-left: 2.5%" style="color: #196c8a" > info.admin@sbb.ch </span></label>

          </mat-card-content>
            <mat-divider></mat-divider>

         </div>
          <div id="editTool">
            <mat-card-actions id="action" *ngIf="editable">
              <button mat-button id="edit" type="button" (click)="editJobItem(jobItem)">{{'jobpostingdetail.edit' | translate}}</button>
              <button mat-button id="delete" type="button" (click)="deleteJob(jobItem)">{{'jobpostingdetail.delete'| translate}}</button>

              <mat-checkbox
                id="checkboxID"
                *ngIf="admin"
                [(ngModel)]="jobItem.approved"
                (change)="flipApproved(jobItem)">
                <span id="spanApprove">{{'jobpostingdetail.approve' | translate}}</span>
              </mat-checkbox>

            </mat-card-actions>
<!--
            <mat-card-actions class="apply-btn" *ngIf="!admin && !editable">
              <button class="applyBtn" mat-raised-button>{{'jobpostingdetail.apply' | translate}}</button>
            </mat-card-actions>
            -->
          </div>
          <mat-card-footer *ngIf="admin">

          </mat-card-footer>

        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div *ngIf="editJob">
  <app-jobpostingedit [selectedJobItem]="selectedJobItem" (cancelEdit)="cancelEdit()" (submitEdit)="submitEdit()"></app-jobpostingedit>
</div>
