.list {

}

.cardJob {
  background-color: white;
  border-style: solid;
  border-width: thin;

  border-color: black;
  border-radius: 5px;
  display: block;
  width: 50%;
}




.cardTitle{
  font-size: 30px;
  color: #196c8a;
  text-align: left;
}





img.resize {

  max-height: 20%;
  max-width: 20%;
float: left;
}

#totalDiv{
  margin: auto;
}
#info{
  margin-left: 25%;

}
#picture{
  float: left;
}



.container {
  display: block;
  position: relative;
  margin-top: 5%;
}

.mat-class-content {
  flex-grow: 1;
  overflow: auto;
}

.mat-card-header {
  display:flex;
  flex-direction: row;
  flex-shrink: 0;
}

.checkbox {
  float: right;
}

.apply-btn {
  float: right
}


.cardSearch{
  margin: auto;
}

.jobDetail{
  font-size: 14px;
  text-align: center;
  display: inline-block;
  margin-right: 5%;
  background-color: transparent;
  color: grey;
  font-weight: bold;

}

.applyBtn{
  margin-top: 5%;
  background-color:#196c8a;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;
}

.select {

}

#action{
  float: right;
}

#delete{
  background-color:#9f0031;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:15px;
  padding:3px 20px;

}

#edit{

  background-color:#196c8a;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:15px;
  padding:3px 20px;


}


.description{
  color: grey;
}

#divPic{
  display: inline-block;
}


.contact{
  display: block;
  font-size: 16px;
  color: grey;

}
