.btnTop {
  position: relative;
  margin-right: 5px;
  margin-bottom: 20px;
}

.btnSubmit {


}

.container {
  position: center;
}

.form-group {
  width: 100px;
}





img.resize {
  max-height: 40%;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;


}

.profileName{
  display: block;
  text-align: center;
background-color: transparent;
  font-size: 25px;

}

.profileEmail{
  display: block;
  text-align: center;
}

#languageProfile{
  display: inline-block;

}

#card1{
  width: 30%;
  height: 60%;
  margin: auto;
  background-color: white;
  text-align: center;
}

#card2{
  width: 30%;
  margin: auto;
  margin-top: 20%;
  background-color: white;
  text-align: center;
}

.profileDIV{
  margin-top: 10%;
}

.userBtn{

  display: block;
  background-color:#196c8a;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;
  margin-right: 5%;
}

#card2BtnDelete{
  background-color:#9f0031;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;
}

#cardtest{
  width: 30%;
  height: 60%;
  margin: auto;
  margin-top: 10%;
  background-color: white;
  text-align: center;

}

.inputTest{
margin-left: 17.5%;
  text-align: center;
}

.inputTest2{
  margin-left: 23.75%;
  text-align: center;
}


#inputsID{
  display: block;
  float: left;
}

#languageID{
  display: block;
}

#divs{
  text-align: left;
  margin-bottom: 5%;
}

#languageDIV{
  margin-top: 5%;
}

.userBtn2{

  background-color:#196c8a;
  border-radius:5px;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;
  margin-top: 5%;
}

#btnDIV{
  text-align: right;
}
