
<div  *ngIf="!changePassword">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <!--
    <div class="profileDIV">

      <mat-card id="card1">

        <h2> Welcome {{user.username}}</h2>

        <img class="resize" src="../../assets/ProfileIMG.png"/>
        <mat-card-content>
          <mat-form-field class="profileName">
            <input matInput type="text" id="username"
                   [(ngModel)]="user.username" name="username">
          </mat-form-field>

          <mat-form-field class="profileEmail">
            <input matInput type="email" email="true" id="email"
                   [(ngModel)]="user.email" name="email">
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'">
            <mat-select [(ngModel)]="user.language" id="languageProfile" name="language" >
              <mat-option [value]="lang" *ngFor="let lang of languages">
                {{lang}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button  class="userBtn" type="submit">{{'userprofile.submit' | translate}}</button>
        </mat-card-actions>
      </mat-card>


-->


      <mat-card id="cardtest">
        <h2 style="font-family: 'Open Sans'"> Welcome <span style="color:#196c8a;">{{user.username}} </span></h2>
        <img class="resize" src="../../assets/ProfileIMG.png"/>

        <div id="divs">
          <span id="textID"> Username: </span> <input  type="text" class="inputTest"
               [(ngModel)]="user.username" name="username">
</div>
        <div style="text-align: left">
       <span id="textID"> Email: </span>
          <input  type="email" email="true" class="inputTest2"
               [(ngModel)]="user.email" name="email">
        </div>

        <div id="languageDIV">
          <span id="textID"> Language: </span>
          <select [(ngModel)]="user.language" id="languageID" name="language" >
            <option [value]="lang" *ngFor="let lang of languages">
              {{lang.toUpperCase()}}
            </option>
          </select>
        </div>


<div id="btnDIV">
        <button  class="userBtn2" type="submit">{{'userprofile.submit' | translate}}</button>
</div>

      </mat-card>







  </form>
</div>

<!-- </div> -->

<mat-card id="card2">

    <button  class="userBtn" (click)="changePassword = true">{{'userprofile.changePassword' | translate}}</button>
    <button  id="card2BtnDelete" color="warn" (click)="deleteProfile = true">{{'userprofile.deleteProfile' | translate}}</button>

</mat-card>

<div *ngIf="deleteProfile" >
  <app-alert-box [message]="'Deleting your profile is irreversible'" (doAction)="onDelete()" (cancelAction)="swapDeleteProfile($event)"></app-alert-box>
</div>

<div class="container" *ngIf="changePassword">
  <app-changepassword [user]="user" (changePW)="swapPW($event)"></app-changepassword>
</div>

<!--
<input
  class="form-control"
  name="Position"
  type="text"
  id="inputPosition"
  aria-describedby="Position"
  placeholder="Enter job position"
  [(ngModel)]="formJob.position">

-->
