<div class="container" *ngIf="changePassword == false">
  <h1>Your Profile</h1>

  <button id="changePassword" (click)="changePassword = true">{{'userprofile.changePassword' | translate}}</button>
  <button id="delete" type="submit" (click)="onDelete()" class="btn">Delete Profile</button>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">

    <div class="form-group">
      <label for="username">{{'userprofile.username' | translate}}</label>
      <input type="text" class="form-control" id="username"
      required
      [(ngModel)]="user.username" name="username">
    </div>


    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" email="true" class="form-control" id="email"
      required
      [(ngModel)]="user.email" name="email">
    </div>

    <button id="submit" type="submit" class="btn btn-success">{{'userprofile.save' | translate}}</button>

  </form>
</div>

<div *ngIf="changePassword">

  <app-changepassword>[user]="user"</app-changepassword>
<!--  <form (ngSubmit)="changePW()" #loginForm="ngForm">

    <div class="form-group">
      <label>{{'userprofile.password' | translate}}</label>
      <input type="text" class="form-control" id="pw"
             required minlength="6"
             [(ngModel)]="pw" name="pw">
    </div>

    <div class="form-group">
      <label>{{'userprofile.confirmPassword' | translate}}</label>
      <input type="text" class="form-control" id="confirmPW"
             required minlength="6"
             [(ngModel)]="confirmPW" name="confirmPW">
    </div>

    <button type="submit" [disabled]="!loginForm.form.valid">{{'userprofile.changePassword' | translate}}</button>
  </form>-->
</div>

