
<!-- DELETE TO GET AGAIN
<h4 *ngIf="error">{{error}}</h4>
<form (ngSubmit)="submit()">
  <div class ="container">
    <div class ="row">
      <div class ="col-md-12">

        <div class="form-group ">
          <label for="username">{{'login.username'| translate}}</label>
          <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" />
        </div>

        <div class="form-group ">
          <label for="password">{{'login.password'| translate}}</label>
          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" />
        </div>

        <div class="form-group ">
          <button class="btn btn-primary" type="submit">{{'login.login'| translate}}</button>
        </div>

        <button type = "button" class ="btn btn-outline-primary"  [routerLink]="['/register']" >{{'login.register'| translate}}</button>
      </div>
    </div>
  </div>
</form>

-->


<h4 *ngIf="error">{{error}}</h4>
<form (ngSubmit)="submit()">
  <div class="backgroundImg">
    <h2 id="signUp">SIGN IN</h2>

    <div class = "registerText">

      <div class="input">
        <label id="usernameLabel" for="username">USERNAME</label>
        <input placeholder="Username" type="text" id="username" name="username" class="form-control" [(ngModel)]="username" />

      </div>
      <div class="input">
        <label id="passwordLabel" for="password">PASSWORD</label>
        <input placeholder="Password" type="password" id="password" name="password" class="form-control" [(ngModel)]="password" />

      </div>



      <button class="loginBtn2" type="submit">Login</button>
   <!--   <button type="submit" class="registerButton">Register</button> -->
      <small id="already2" class="form-text text-muted">Not registered yet? <a [routerLink]="['/register']" id="link"> Register here! </a></small>
    </div>



  </div>
</form>
