
<h1 style="font-family: 'Open Sans'" id="title">Job Application Tips for Students</h1>
<img id="tipsimage" src="../../assets/tipsimage.jpg">

<br>
<p>
{{'tips.one' | translate}}</p>


<p>
  {{'tips.two' | translate}}</p>

<p>
  {{'tips.three' | translate}}{{'tips.one' | translate}}</p>
<p>
  {{'tips.four' | translate}}</p>
<p>
  {{'tips.five' | translate}}
</p>

<!--
<p>
  <strong>6. Employers of teens value reliability , especially in terms of attendance and punctuality</strong>  Try to incorporate references to perfect attendance and punctuality, if possible.
</p>
<p>
  <strong>7.Don't forget to include any honors or awards </strong> since employers will likely believe a high GPA or Honor Society membership, for example, is evidence of a strong work ethic.
</p>
<p>
  <strong>8. Get a list of references. </strong> Most employers will request 3 or 4 references- people who can vouch for your work ethic and responsibility. You should ask several people who might be willing to give you a good recommendation, should they be contacted by a potential employer.
</p>
<p>
  <strong>9. Be prepared to furnish the names, job titles and contact information for your references.</strong> If you haven't held a formal job, consider asking families for whom you babysit or have done odd jobs, as well as teachers or coaches. Let people know if you plan to list them as a reference so they won't be surprised if they get a call or email message from an employer.
</p>
<p>
  <strong> 10. Check your phone.</strong> You will need to list your phone number on the application, so be sure that the voicemail message on your cell is suitable for an employer to hear. Check messages regularly, so you don't miss any calls from employers.
</p>
<br>
-->
<p style="font-size: 10px; color: grey">Quelle: http://informatik.uni-hamburg.de</p>
