
<h1 style="font-family: 'Open Sans'" id="title">Job Application Tips for Students</h1>
<img id="tipsimage" src="../../assets/tipsimage.jpg">

<br>
<p>
  <strong>1. Whenever possible, take the application home </strong>or fill it out online, so you don't have to rush while sitting in an employment office. Make a list of all the information you need to include in your application prior to filling it out. Not sure what to say when you need to pick up an application for employment? Here's how to ask for a job application.
</p>


<p>
  <strong>2. Neatness counts. </strong> Have a friend or parent with nice handwriting fill out your applications with you if you have sloppy handwriting. If you have access to a copy machine, make a copy to use when filling out other applications, since they all ask for pretty much the same information, and often even in the same order.
</p>

<p>
  <strong>3. Show the employer that you can follow directions </strong> by filling in all sections of the application form. If you don't have information to put in a box, you can say N/A (not applicable). Review all the questions carefully to make sure you understand what they are asking for. If you don't have formal work experience, it's fine to list jobs like babysitting or yard work, or even participation as an officer in a school club or student government, on your application. Request help from a parent or guidance counselor if you need assistance responding to any confusing items.
</p>
<p>
  <strong>4. Check your application for spelling and grammar mistakes</strong> and have someone else review it as well. Put your finger on every word to make sure it is okay even if you are typing and using spellcheck.
</p>
<p>
  <strong>5. Make sure you emphasize the job responsibilities of your past jobs</strong> which are most relevant to your target position when completing your descriptions. For example, suppose that you only spent a fraction of your time generating documents in your campus job, but it will be the primary function in a target job.
List that activity first on the application when describing your campus job, so your key qualification is easily noticed. Use action words to lead your phrases when describing past jobs.
</p>
<p>
  <strong>6. Employers of teens value reliability , especially in terms of attendance and punctuality</strong>  Try to incorporate references to perfect attendance and punctuality, if possible.
</p>
<p>
  <strong>7.Don't forget to include any honors or awards </strong> since employers will likely believe a high GPA or Honor Society membership, for example, is evidence of a strong work ethic.
</p>
<p>
  <strong>8. Get a list of references. </strong> Most employers will request 3 or 4 references- people who can vouch for your work ethic and responsibility. You should ask several people who might be willing to give you a good recommendation, should they be contacted by a potential employer.
</p>
<p>
  <strong>9. Be prepared to furnish the names, job titles and contact information for your references.</strong> If you haven't held a formal job, consider asking families for whom you babysit or have done odd jobs, as well as teachers or coaches. Let people know if you plan to list them as a reference so they won't be surprised if they get a call or email message from an employer.
</p>
<p>
  <strong> 10. Check your phone.</strong> You will need to list your phone number on the application, so be sure that the voicemail message on your cell is suitable for an employer to hear. Check messages regularly, so you don't miss any calls from employers.
</p>
<br>
<p style="font-size: 10px; color: grey">Quelle: http://informatik.uni-hamburg.de</p>
