<div class="job-item">
  <h1>  <mat-icon>work</mat-icon> Enter your job offer</h1>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="jobItem.title" title="title"  required (ngModelChange)="onSave()">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="jobItem.company" company="Company" (ngModelChange)="onSave()" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Skills" [(ngModel)]="jobItem.location" location="Location" (ngModelChange)="onSave()" required>
  </mat-form-field>

  <br>

<!--  <mat-form-field>
    <input matInput placeholder="Salary" [(ngModel)]="jobItem.salary" skills="Salary" (ngModelChange)="onSave()" required>
  </mat-form-field>

  <br>
  <mat-form-field>
    <input matInput placeholder="Location" [(ngModel)]="jobItem.location" skills="Location" (ngModelChange)="onSave()" required>
  </mat-form-field>-->

  <br>
  <button mat-button (click)="onSave()">Save</button>
  <button mat-button (click)="onDestroy()">Delete</button>
</div>
