

<div class = "row">
  <div class ="col-md-5">
    <form name="create-job" id="create-job">
      <div class="form-group">
        <label for="JobTitle">Job Title</label>
        <input
          type="text"
          class="form-control"
          id="JobTitle"
          name="jobTitle"
          aria-describedby="Job Title"
          placeholder="Enter Job Title"
          [(ngModel)]="formJob.title"
          >
      </div>

      <div class="form-group">
        <label
          for="Company">Company</label>
        <input name="company"
          type="text"
          class="form-control"
          id="Company"
          aria-describedby="Company Name"
          placeholder="Enter Company Name"
               [(ngModel)]="formJob.company"

        >

      </div>

      <div class="form-group">
        <label for="Pensum">Pensum</label>
        <input type="text" class="form-control" id="Pensum" aria-describedby="Pensum" placeholder="Enter Pensum" name="Pensum"
               [(ngModel)]="formJob.pensum">
      </div>

      <div class="form-group">
        <label for="Description">Description</label>
        <input name="Description" type="text" class="form-control" id="Description" aria-describedby="Description" placeholder="Enter Description"  [(ngModel)]="formJob.description">
      </div>

    <button type="button" class="btn btn-dark" (click)="onSaveData(formJob)">Submit</button>
    </form>
    <app-job-list

      (jobWasSelected)="selectedJob = $event"></app-job-list>
  </div>
  <div class ="col-md-7">
    <app-job-detail
      *ngIf="selectedJob; else infoText"
    [job]="selectedJob"></app-job-detail>
    <ng-template #infoText>
      <p>Please select a Job</p>
    </ng-template>
  </div>
</div>
