<header id="head">
  <br>
  <div>

    <div id="languageDIV">
      <button id="languageBTN"
        #langSelect *ngFor="let lang of languages"
        (click)="useLanguage(langSelect.value)"
        [value]="lang"
        [class.active]="lang === translate.currentLang"
      >{{lang.toUpperCase()}}
      </button>
    </div>


<div class="mainNav">


      <div class="topNav">

        <img class="Logo" src="../../assets/LogoCopy.jpg"/>
        <button class= "navigation3"   [routerLink]="['/dashboard']" *ngIf="!auth.loggedIn">Home</button>
        <button class="navigation"  [routerLink]="['/dashboard']" *ngIf="!auth.loggedIn">About us</button>
        <button class="navigation"  [routerLink]="['/dashboard']" *ngIf="!auth.loggedIn">Tips</button>
        <button class="navigation2"  [routerLink]="['/dashboard']" *ngIf="!auth.loggedIn">Service</button>


        <!-- When logged in as USER -->
        <button class= "navigation3"   [routerLink]="['/dashboard']" *ngIf="auth.loggedIn && auth.isUser()">Home</button>
      <button class="navigation" routerLink="/profile/{{getId()}}" *ngIf="auth.loggedIn && auth.isUser()">{{'header.yourProfile' | translate}}</button>
      <button class="navigation"  [routerLink]="['/jobform']" *ngIf="auth.loggedIn && auth.isUser()">{{'header.submitJob' | translate}}</button>
      <button class="navigation" [routerLink]="['/jobpostingList']" *ngIf="auth.loggedIn && auth.isUser()">{{'header.yourjobpostings' | translate}}</button>

      <!-- when loggin in as ADMIN -->
        <button class= "navigation"   [routerLink]="['/dashboard']" *ngIf="auth.loggedIn && auth.isAdmin()">Home</button>
      <button class="navigation"  [routerLink]="['/admin/users']" *ngIf="auth.loggedIn && auth.isAdmin()">{{'header.manageusers' | translate}}</button>
      <button class="navigation" [routerLink]="['/admin/jobpostings']" *ngIf="auth.loggedIn && auth.isAdmin()">{{'header.manageJobpostings' | translate}}</button>

        <a [routerLink]="['/login']"> <img *ngIf="!auth.loggedIn"class="resize" src="../../assets/ProfileIMG.png"/> </a>

        <button id="yourProfile" [routerLink]="['/login']" *ngIf="!auth.loggedIn">Login</button>
        <button id="registerBtn " class="btn" mat-button  [routerLink]="['/register']" *ngIf="!auth.loggedIn">{{'header.registerButton' | translate}}</button>
        <!-- When logged in -->

        <button id="btnLogout" class="btn" mat-button (click)="logout()" *ngIf="auth.loggedIn">{{'header.logout' | translate}}</button>

    </div>


  </div>
  </div>

  <mat-divider></mat-divider>
</header>


