header {

background-color: black;
width: 100%;
    height: 150px;
}

h1{
margin-left: 225px;
    color: white;
    text-align: center;
}

#btnLogin {

   color: white;
   float: right;
   margin: 10px;
   background: transparent;
   border-color: white;
   border-style: solid;
   color: white;
   font-weight:400;

 }

#btnLogout {

  color: white;
  float: right;
  margin: 10px;
  background: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  font-weight:400;

}

#btnRegister {

  color: white;
  float: right;
  margin: 10px;
  background: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  font-weight:400;

}

#subtitle {

  color: lightgrey;
  text-align: center;
}
