header {
  background-color: lightgrey;
  width: 100%;
  height: 15vh; /*1vh = 1% of screen size */
}

.mainNav{
  margin-top: 10px;
  margin: auto;
  display: inline-block;
}

.btn{
  background-color:#196c8a;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;

}


#yourProfile{

  color: grey;
  display:inline-block;
  font-family:"Open Sans";
  font-size:20px;
  background:none;
  border:none;
  margin:0;
  padding-right: 75px;
  cursor: pointer;

}
#yourProfile:hover{
  color: darkgrey;
}

#registerBtn{

}

#languageDIV{
  float: right;
  margin-right: 16%;
}
#languageBTN{

  color: grey;
  display:inline-block;
  font-family:"Open Sans";
  font-size:16px;
  background:none;
  border:none;
  margin:0;
  padding-left:10px;
  cursor: pointer;
}

.topNav{
  display: inline-block;
  float: left;
  margin-left: 5%;

}

.navigation {

  color: black;
  font-weight: bold;
  display:inline-block;
  font-family:"Open Sans";
  font-size:20px;
  background:none;
  border:none;
  margin:0;
  padding:30px;
  cursor: pointer;

}

.navigation:hover{
  color: grey;
}

.logoutBTNS{
  display: inline-block;
  float: right;
  margin-right: 5%;
}


.divider {
  margin-top: 13vh;
}


img.resize {
  max-height: 10%;
  max-width: 10%;
  display: inline-block;
}

.Logo{
  display: inline-block;
  max-height: 10%;
  max-width: 10%;

}





