<header>
  <br>
  <div>

    <div id="languageDIV">
      <button id="languageBTN"
        #langSelect *ngFor="let lang of languages"
        (click)="useLanguage(langSelect.value)"
        [value]="lang"
        [class.active]="lang === translate.currentLang"
      >{{lang}}
      </button>
    </div>


<div class="mainNav">


  <div class="logoutBTNS">

    <img class="resize" src="../../assets/ProfileIMG.png"/>
    <button id="yourProfile" [routerLink]="['/login']" *ngIf="!auth.loggedIn">Your Profile</button>
    <button id="registerBtn " class="btn" mat-button  [routerLink]="['/register']" *ngIf="!auth.loggedIn">{{'header.registerButton' | translate}}</button>
    <!-- When logged in -->
    <button id="btnLogout" mat-button (click)="logout()" *ngIf="auth.loggedIn">{{'header.logout' | translate}}</button>
  </div>
      <div class="topNav">

        <img class="Logo" src="../../assets/LogoCopy.jpg"/>
        <button class= "navigation"   [routerLink]="['/dashboard']" *ngIf="!auth.loggedIn">Home</button>
        <button class="navigation"  [routerLink]="['/dashboard']" *ngIf="!auth.loggedIn">About us</button>
        <button class="navigation"  [routerLink]="['/dashboard']" *ngIf="!auth.loggedIn">Tips</button>
        <button class="navigation"  [routerLink]="['/dashboard']" *ngIf="!auth.loggedIn">Service</button>


        <!-- When logged in as USER -->
      <button class="navigation" routerLink="/profile/{{getId()}}" *ngIf="auth.loggedIn">{{'header.yourProfile' | translate}}</button>
      <button class="navigation"  [routerLink]="['/jobform']" *ngIf="auth.loggedIn && auth.isUser()">{{'header.submitJob' | translate}}</button>
      <button class="navigation" [routerLink]="['/jobpostingList']" *ngIf="auth.loggedIn && auth.isUser()">{{'header.yourjobpostings' | translate}}</button>

      <!-- when loggin in as ADMIN -->
      <button class="navigation"  [routerLink]="['/admin/users']" *ngIf="auth.loggedIn && auth.isAdmin()">Manage {{'header.users' | translate}}</button>
      <button class="navigation" [routerLink]="['/admin/jobpostings']" *ngIf="auth.loggedIn && auth.isAdmin()">{{'header.manageJobpostings' | translate}}</button>


    </div>


  </div>
  </div>

<mat-divider class="divider"></mat-divider>
</header>


