header {

background-color: black;
width: 100%;
    height: 100px;
}

h1{
    font-size: 40px;
    text-decoration: underline overline;
    font-style:italic;
    font-family: "Calibri" ;
    color: white;
    text-align: center;
}

#language {
  color: white;
  float: left;
  margin: 10px;
  background: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  font-weight:400;
}

#profile {
  color: white;
  float: right;
  margin: 10px;
  background: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  font-weight:400;
}

#btnLogin {

   color: white;
   float: right;
   margin: 10px;
   background: transparent;
   border-color: white;
   border-style: solid;
   color: white;
   font-weight:400;

 }

#btnLogout {

  color: white;
  float: right;
  margin: 10px;
  background: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  font-weight:400;

}

#btnRegister {

  color: white;
  float: right;
  margin: 10px;
  background: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  font-weight:400;

}

#submitJob{
  color: white;
  float: right;
  margin: 10px;
  background: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  font-weight:400;
}
