<h2>All Users</h2>
<ul class="users">
  <li *ngFor="let user of users"
  [class.selected]="user === selectedUser"
  (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span> {{user.username}}
  </li>
</ul>

<div class="row" id="popup" *ngIf="selectedUser">
  <div class="col-md-12">
    <h2>{{selectedUser.username}}</h2>
    <div><span>Id: </span>{{selectedUser.id}}</div>
    <div>
      <label>{{'userlist.userName'| translate}}</label>
        <input
          type="text"
          [(ngModel)]="selectedUser.username">

      <label>{{'userlist.email'| translate}}</label>
        <input [(ngModel)]="selectedUser.email">

<!--      <label>{{'userlist.password'| translate}}</label>
        <input [value]="" [(ngModel)]="selectedUser.password">-->

      <label type="number">{{'userlist.role'| translate}}</label>
        <input [(ngModel)]="selectedUser.role">

      <button (click)="editUser(selectedUser)">{{'userlist.save'| translate}}</button>
      <button (click)="changePW()">{{'userlist.changePW' | translate}}</button>
      <button (click)="deleteUser(selectedUser)">{{'userlist.deleteUser'| translate}}</button>
    </div>
  </div>
</div>
