<div *ngIf="!editUser && !changePassword" class="container1">

  <div class="search">
    <mat-form-field class="input">
      <input matInput [(ngModel)]="userFilter.id" (keyup)="applyFilter()" placeholder="ID">
    </mat-form-field>

    <mat-form-field class="input">
      <input matInput [(ngModel)]="userFilter.username" (keyup)="applyFilter()" placeholder="{{'userlist.userName' | translate}}">
    </mat-form-field>

    <mat-form-field class="input">
      <input matInput [(ngModel)]="userFilter.email" (keyup)="applyFilter()" placeholder="{{'userlist.email' | translate}}">
    </mat-form-field>

    <mat-form-field class="input">
      <input matInput [(ngModel)]="userFilter.role" (keyup)="applyFilter()" placeholder="{{'userlist.role' | translate}}">
    </mat-form-field>

    <mat-form-field class="input">
      <input matInput [(ngModel)]="userFilter.language" (keyup)="applyFilter()" placeholder="{{'userlist.language' | translate}}">
    </mat-form-field>
  </div>


  <mat-table #table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>{{'userlist.userName' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>{{'userlist.email' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>{{'userlist.role' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.role}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="language">
      <mat-header-cell *matHeaderCellDef>{{'userlist.language' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.language.toUpperCase()}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{'userlist.actions' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="eUser(element)">{{'userlist.edit' | translate}}</button>
          <button mat-menu-item (click)="changePassw(element)">{{'userlist.changePW' | translate}}</button>
          <button mat-menu-item (click)="deleteUser(element)">{{'userlist.delete' | translate}}</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
</div>

<div class="container" *ngIf="selectedUser && editUser">
  <div>
    <div class="row" id="popup" >
      <mat-card>
      <div class="col-md-12">
        <form #userForm="ngForm">
        <mat-card-title>{{selectedUser.username}}</mat-card-title>
          <mat-card-subtitle>Id: {{selectedUser.id}}</mat-card-subtitle>
          <mat-card-content>


            <div>
              <div class="form-group" >
                <mat-form-field>
                <input matInput placeholder="{{'userlist.userName'| translate}}"
                  type="text" id="username" name="username"
                  [(ngModel)]="selectedUser.username">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="{{'userlist.email'| translate}}"
                    type="email" id="email" name="email"
                    [(ngModel)]="selectedUser.email">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <mat-select [(ngModel)]="selectedUser.role" placeholder="{{'userlist.role'| translate}}">
                    <mat-option [value]="role" *ngFor="let role of roles" >{{role}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <mat-card-actions>
                <button mat-raised-button type="button" (click)="editUsers(selectedUser)">{{'userlist.save'| translate}}</button>
                <button mat-raised-button class="mat-warn" type="button" (click)="editUser = false">{{'userlist.cancel'| translate}}</button>
              </mat-card-actions>
            </div>
            </mat-card-content>
        </form>
      </div>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="changePassword && selectedUser">
  <app-changepassword [user]="selectedUser" (changePW)="swapPW($event)" (b)="swapPW($event)"></app-changepassword>
</div>
