<h2>All Users</h2>
<ul class="users">
  <li *ngFor="let user of users"
  [class.selected]="user === selectedUser"
  (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span> {{user.username}}
  </li>
</ul>

<div class="row" id="popup" *ngIf="selectedUser">
  <div class="col-md-12">
    <h2>{{selectedUser.username}}</h2>
    <div><span>id: </span>{{selectedUser.id}}</div>
    <div>
      <label>Username:</label>
        <input [(ngModel)]="selectedUser.username">

      <label>email:</label>
        <input [(ngModel)]="selectedUser.email">

      <label>Password:</label>
        <input [(ngModel)]="selectedUser.password">

      <label type="number">Role:</label>
        <input [(ngModel)]="selectedUser.role">


      <button (click)="editUser(selectedUser)">Save</button>
      <button (click)="deleteUser(selectedUser)">Delete User</button>
    </div>
  </div>
</div>
