.container {
  position: relative;
  display: block;
  margin-top: 50px;
}

.container1 {
  margin-top: 50px;
  height: 400px;
  width: 80%;
  position: relative;
  display: block;
  overflow: auto;
}

table {
  width: 80%;
}

.search {
  margin-left: 5px;
}

.input {
  margin-left: 50px;
}

#con{
  margin-top: 5%;
  width: 100%;


}

#cancel{
  background-color:#9f0031;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;
  margin-right: 5%;
}

#save{
  background-color:#196c8a;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;
}


