#title{
  font-family: "Open Sans";
  margin-left: 12.5%;
  margin-right: 10%;
}

p{
  font-family: "Open Sans";
  margin-left: 12.5%;
  margin-right: 10%;
  font-size: 17.5px;
}

#miblogo{
  float: right;
  margin-right: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
}
