

  <h1 style="font-family: 'Open Sans'" id="title">About us</h1>
  <img id=miblogo src="../../assets/miblogo.png">
  <br>
  <p>
    The Software Composition Group carries out research in programming language design and software reengineering with the goal of facilitating the development of flexible, open software systems. The SCG is led by Oscar Nierstrasz and is part of the Institute of Computer Science (INF) at the University of Berne.
  </p>

  <p>
    The ESE course will focus on the use of agile software processes, object-oriented methods, UML and other industrial best practices to successful completion of software projects. The follow themes will be explored: How can you effectively determine and agree on what a customers really needs? How can you ensure that the software product being developed will satisfy non-functional requirements, such as user-friendliness, robustness,reliability and extensibility? How do you plan a software project and manage a project developed in a team? What tools are available to help support you in a software project?
  </p>
  <p>
    The exercises for the course will consist of a small software project to be developed by the students in teams over the course of the semester.
  </p>
