<div>
  <div class = "row">
    <div class="col-md-3">
      <form name="search" id="search">

        <div class="form-group">
          <label for="JobTitle">{{'searchform.title' | translate}}</label>
          <input
            type="text"
            class="form-control"
            id="JobTitle"
            name="jobTitle"
            aria-describedby="Job Title"
            placeholder="Enter Job Title"
            [(ngModel)]="jobItemFilter.title">
        </div>

        <div class="form-group">
          <label for="category">{{'searchform.category' | translate}}</label>
          <select class="form-control" id="category"
          [(ngModel)]="jobItemFilter.category" name="category"
          #category>
            <option [value]=""></option>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="location">{{'searchform.location' | translate}}</label>
          <select class="form-control" id="location"
          [(ngModel)]="jobItemFilter.location" name="location"
          #location>
          <option [value]=""></option>
          <option *ngFor="let location of locations" [value]="location">{{location}}</option>
          </select>
        </div>

      </form>
    </div>
  </div>
</div>

<div>
  <ul style="list-style-type:none" class="jobitems" >
    <li *ngFor="let jobItem of jobItems | filterBy: jobItemFilter" id="list">
     <app-jobpostingdetail [jobItem]="jobItem"> </app-jobpostingdetail>
    </li>
  </ul>
</div>
