<input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
<p></p>
<table *ngFor="let emp of customerData | grdFilter: {id: searchText, title:searchText,  company: searchText}; let i=index;">
  <tr>
    <td style="width: 15%;">{{i +1}}</td>
    <td style="width: 15%;">{{emp.id}}</td>
    <td style="width: 15%;">{{emp.title}}</td>
    <td style="width: 15%;">{{emp.company}}</td>
    <td style="width: 15%;">{{emp.createdAt}}</td>
    <td style="width: 15%;">{{emp.updatedAt}}</td>
    <td style="width: 15%;">{{emp.position}}</td>
    <td style="width: 15%;">{{emp.pensum}}</td>
  </tr>
</table>
