<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form name="search" id="search" mat-row="">

        <div class="form-group">
          <!--<label for="JobTitle">{{'searchform.title' | translate}}</label>-->
          <mat-form-field>
            <input
              matInput
              type="text"
              id="JobTitle"
              name="jobTitle"
              aria-describedby="Job Title"
              placeholder="{{'searchform.titlePlaceholder' | translate}}"
              [(ngModel)]="jobItemFilter.title">
          </mat-form-field>
        </div>

        <div class="form-group">
          <!--<label for="JobPosition">{{'searchform.position' | translate}}</label>-->
          <mat-form-field>
            <input
              matInput
              type="text"
              id="JobPosition"
              name="jobPosition"
              aria-describedby="Job Position"
              placeholder="{{'searchform.positionPlaceholder' | translate}}"
              [(ngModel)]="jobItemFilter.position">
          </mat-form-field>
        </div>

        <div class="form-group">
          <!--<label for="JobPensum">{{'searchform.pensum' | translate}}</label>-->
          <mat-form-field>
            <mat-select placeholder="{{'searchform.pensumPlaceholder' | translate}}" name="job" id="JobPensum" [(ngModel)]="jobItemFilter.pensum">
              <mat-option></mat-option>
              <mat-option *ngFor="let n of pensumCount" [value]="n">{{n}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <!--<label for="category">{{'searchform.category' | translate}}</label>-->
          <mat-form-field>
            <mat-select id="category" [(ngModel)]="jobItemFilter.category" name="category" placeholder="{{'searchform.categoryPlaceholder' | translate}}">
              <mat-option></mat-option>
              <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <!--<label for="location">{{'searchform.location' | translate}}</label>-->
          <mat-form-field>
            <mat-select id="location" placeholder="{{'searchform.locationPlaceholder' | translate}}"
            [(ngModel)]="jobItemFilter.location" name="location"
            #location>
              <mat-option></mat-option>
              <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>

<div>
      <app-jobpostingdetail [jobItems]="jobItems | filterBy: jobItemFilter" [admin]="false"> </app-jobpostingdetail>
</div>
