#h2Title{
  text-align: center;
  margin-top: 5%;
}

#category{

  display: inline-block;

}

#location{
  display: inline-block;
}


#formFiel1{
  margin-right: 5%;
  margin-top: 5%;
}

.search {
  margin-left: 5px;
  display: inline;
}

.input {
  margin-left: 2%;
}

#expansion{

  color: #196c8a;
  margin-top: 2.5%;
  }
