<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="homeTitle">
<h1 class="display-3">Open Job offers: {{jobItems.length}} </h1>


  <select>
    <optgroup label="Choose category">
      <option>Marketing</option>
      <option>IT</option>
      <option>Finance</option>
      <option>Pharma</option>
    </optgroup>
  </select>

  <select>
    <optgroup label="Choose location">
      <option>Bern</option>
      <option>Solothurn</option>
      <option>Zürich</option>
      <option>Genf</option>
    </optgroup>
  </select>


  <input id="searchJob" type="text" class="" placeholder="Choose category" />
  <input id="searchLocation" type="text" placeholder="Choose location" />


  <button id="searchBtn" type="submit"> <i class="fa fa-search"> </i></button>







</div>




<hr>
<div class ="row>">
  <div class ="col-md-12">
 <ul class="pseude" >
  <li *ngFor="let jobItem of jobItems" id="list">
    <div *ngIf="auth.isAdmin() || jobItem.approved == true" >
      <div id="titleJob">Title of Job: {{jobItem.title}}</div>
      <br>
      <div id="company">Company name:{{jobItem.company}} {{jobItem.location}}</div>
      <br>
      <div id="description">Job Description: {{jobItem.description}}</div>
      <br>
      <div id="position">Position: {{jobItem.position}}</div>
      <br>
      <div id="pensum"> Pensum: {{jobItem.pensum}}</div>
      <br>
      <div id = "date">Published: {{jobItem.createdAt | date}}</div>
      <br>

      <div id="checkbox">
        <label for="box">Approved by Admin: {{jobItem.approved}} </label>
        <input type="checkbox" id="box" [(ngModel)]="jobItem.approved"  data-md-icheck (change)="setApproved(jobItem.id)"
               *ngIf="auth.isAdmin() && auth.loggedIn"/>
      </div>

      <hr>
      <br>
    </div>
  </li>
 </ul>
     </div>
  </div>




