<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <div class="background">
    <h1 class="openJobs">{{'jobpostings.pictureTitle' | translate}}!</h1>
    <form (ngSubmit)="submit(s)" #searchForm="ngForm">
        <div class="searchForm">
          <div class="form-group">
            <label for="selectCategory"></label>
            <select class="selectCategory" id="selectCategory"
                    [(ngModel)]="s.category" name="category">
              <option hidden value="" disabled selected>{{'jobpostings.chooseACategory' | translate}}</option>
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>

            <select class="selectLocation" id="selectLocation"
                    [(ngModel)]="s.location" name="location">
              <option hidden value="" disabled selected>{{'jobpostings.chooseALocation' | translate}}</option>
              <option *ngFor="let location of locations" [value]="location">{{location}}</option>
            </select>
            <button id="searchBtn" type="submit"> <i class="fa fa-search"> </i></button>
        </div>
      </div>
    </form>

  </div>

  <div class="employerInfo">
  <h2 class="titleEmployer">{{'jobposting.titleInfo' | translate}}</h2>
  <p> <br> <br>
    {{'jobposting.bigtext' | translate}}

<br>
   <strong> {{'jobposting.fivemin' | translate}} </strong>
    <br>
    <br>
    {{'jobposting.waiting' | translate}}


  </p>



  <button class="registerBtn" mat-button  [routerLink]="['/register']" *ngIf="!auth.loggedIn">{{'jobposting.regBtn' | translate}}</button>

  </div>

</div>


<mat-divider class="divide" style="margin-left: 47.5%"></mat-divider>



<div class="career">
  <h2 class="titleCareer" >{{'jobposting.carAndAp' | translate}}</h2>

</div>




<app-body></app-body>

