

img.resize {
  max-height: 10%;
  max-width: 10%;
}

.selectCategory {
  background: #ffffff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 20%;
  cursor: pointer;
  font-family: "Open Sans";
  color: grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 20px;

}

.select:hover, focus{
           background: #34495e;
           border:#34495e;

         }

.selectLocation {
  background: #ffffff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 20%;
  cursor: pointer;
  font-family: "Open Sans";
  color: grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 20px;

}

.select:hover, focus{
  background: #34495e;
  border:#34495e;

}

.employerInfo{
  font-family: "Open Sans";
  font-size: 20px;
  text-align: center;
  margin-top: 5%;
margin-right: 25%;
  margin-left: 25%;
}

.titleEmployer {
font-family: "Open Sans";
  font-weight: 200;
}

.titleCareer {
  font-family: "Open Sans";
  font-weight: 200;
  text-align: center;
  margin-top: 2.5%;
}


.registerBtn {
  background-color:#196c8a;

  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:10px 100px;
  text-decoration:none;
  text-shadow:0px 0px 0px #3d768a;
  margin-top: 5%;
  margin-bottom: 10%;
}


.searchForm{

  text-align: center;


}

.divide{

  width: 5%;
  border-color: #000000;

}

.background{

height: 500px;
  width: 100%;
  background-image: url("home.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;


}

.openJobs {


  font-size: 75px;
color: white;
  font-family: "Open Sans";
  text-align: center;
  padding-bottom: 50px;
  padding-top: 100px;
  margin-bottom: 5%;
}



#searchBtn{

  width: 2.5%;
 height: 60px;
  width: 60px;
  background-color:#196c8a;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  border-radius: 4%;
  cursor: pointer;

}

#searchBtn:hover {
  background: #0c4973;
  color: lightgrey;
}







#checkbox {
  padding-left: 25%;
}

#company {

  padding-left: 25%;

}

#position {

  padding-left: 25%;
}

#pensum {

  padding-left: 25%;
}

#date {

  padding-left: 25%;
}

#id {

  padding-left: 25%;
}

#approved {

  padding-left: 25%;
}

#description {

  padding-left: 25%;
}

#titleJob {

  padding-left: 25%;
}


#JobnBtn {

  height: 40px;
  border-color: black;
  color: black;
  background-color: white;
}
