<div id="careerDIV" >

<div id="left">
  <h1 id="titleRight">{{'jobposting.strenghts' | translate}}</h1>
  <p class = "textRight"> <br> {{'jobposting.know' | translate}}
    <br><br>
    {{'jobposting.with' | translate}}
  </p>
 <a href="https://www.gallupstrengthscenter.com/home/de-de"><button class="checkItOutBtnLeft">{{'jobposting.survey' | translate}}</button></a>
</div>


<div id="right">
  <h1 id="titleRight">CV - Check</h1>
  <p class = "textRight"> <br> {{'jobposting.cvcheck' | translate}} </p>
<br>
   <span class = "textRight"> {{'jobposting.thrmin' | translate}}</span>
  <a href="http://www.unibe.ch/studium/beratungsangebote/career_service/veranstaltungen/ressourcen_hs_2018/cv_checks/persoenlicher_cv_check_2311/persoenlicher_cv_check_2311/index_ger.html"><button class="checkItOutBtn">Check it out</button></a>
</div>

</div>


