#left {


  height: 500px;
  width: 35%;
  background-image: url("room.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  display: inline-block;
  margin-right: 50px;


}

#right{

  height: 500px;
  width: 35%;
  background-image: url("cv.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  display: inline-block;
  margin-left: 50px;
}

#careerDIV{
  text-align: center;
  margin-top: 5%;
}
