<div id="careerDIV" >

<div id="left">
  <h1 id="titleRight">What are your strenghts</h1>
  <p class = "textRight"> <br> Do you really know your strenghts?
    <br><br>
    With the Strenght-Finder survey from Gallup you can now figure out your top 5 strenghts!
  </p>
 <a href="https://www.gallupstrengthscenter.com/home/de-de"><button class="checkItOutBtnLeft">Go to survey</button></a>
</div>


<div id="right">
  <h1 id="titleRight">CV - Check</h1>
  <p class = "textRight"> <br> Does your CV contain any gramamr faults? Is it personal enough? Are you missing out some important points?
<br><br>
    In a 30-minute one-on-one interview, you will receive critical feedback on your CV as well as recommendations and advice on what you could change an improve.
  </p>
  <a href="http://www.unibe.ch/studium/beratungsangebote/career_service/veranstaltungen/ressourcen_hs_2018/cv_checks/persoenlicher_cv_check_2311/persoenlicher_cv_check_2311/index_ger.html"><button class="checkItOutBtn">Check it out</button></a>
</div>

</div>


