<!--
<div class="container">
  <h1>{{'jobPostingsEdit.editYourJobPostings'| translate}}</h1>
  <form (ngSubmit)="onSubmit()" #JobForm="ngForm">

    <div class="form-group">
      <label hidden for="title">{{'jobPostingsEdit.title'| translate}}</label>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="{{'jobPostingsEdit.title'| translate}}"
          id="title"
          required
          [(ngModel)]="selectedJobItem.title"
          name="title"
          >
        <div [hidden]="!name.valid || name.pristine || !name.untouched"
          class="alert alert-danger">Title is required
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label hidden for="company">{{'jobPostingsEdit.company'| translate}}</label>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="{{'jobPostingsEdit.company'| translate}}"
          id="company"
          required
          [(ngModel)]="selectedJobItem.company"
          name="company">
      </mat-form-field>
    </div>

    <div class="form-group">
      <label hidden for="description">{{'jobPostingsEdit.description'| translate}}</label>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="{{'jobPostingsEdit.description'| translate}}"
          id="description"
          required
          [(ngModel)]="selectedJobItem.description"
          name="description">
      </mat-form-field>
    </div>

    <div class="form-group">
      <label hidden for="position">{{'jobPostingsEdit.position'| translate}}</label>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="{{'jobPostingsEdit.position'| translate}}"
          id="position"
          required
          [(ngModel)]="selectedJobItem.position"
          name="position">
      </mat-form-field>
    </div>

    <div class="form-group">
      <label hidden for="pensum">{{'jobPostingsEdit.pensum'| translate}}</label>
      <mat-form-field>
        <mat-select
          placeholder="{{'jobPostingsEdit.pensum'| translate}}"
          id="pensum"
          [(ngModel)]="selectedJobItem.pensum"
          name="pensum"
          #name="ngModel">
          <mat-option></mat-option>
          <mat-option *ngFor="let n of pensumCount" [value]="n">{{n}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
        <label hidden for="location">{{'jobPostingsEdit.location'| translate}}</label>
        <mat-form-field>
          <mat-select
            placeholder="{{'jobPostingsEdit.location'| translate}}"
            id="location"
            name="location"
            [(ngModel)]="selectedJobItem.location">
            <mat-option></mat-option>
            <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group">
      <label hidden for="category">{{'jobPostingsEdit.category'| translate}}</label>
      <mat-form-field>
        <mat-select
          placeholder="{{'jobPostingsEdit.category'| translate}}"
          id="category"
          name="category"
          [(ngModel)]="selectedJobItem.category">
          <mat-option></mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-success">{{'jobPostingsEdit.submit'| translate}}</button>
    <button type="button" (click)="cancel()" class="btn">{{'jobPostingsEdit.cancel' | translate}}</button>

  </form>
</div>

-->


<div class="jobPostDIV">
  <mat-card id="jobPostCard">
    <h1 id="titelJobOffer">Edit this job</h1>

    <form (ngSubmit)="onSubmit()" #JobForm="ngForm">

      <label id="labelTitle">{{'jobPostingsEdit.title' | translate}}</label>

      <input
        class="form-control"
        type="text"
        id="inputTitle"
        name="jobTitle"
        aria-describedby="Job Title"
        placeholder="{{'jobPostingsEdit.titlePlaceHolder' | translate}}"
        [(ngModel)]="selectedJobItem.title">

      <div id="tog1">

        <label id="labelCompany">{{'jobPostingsEdit.company' | translate}}</label>
        <label id="labelPosition">{{'jobPostingsEdit.position' | translate}}</label>

        <br>
        <input
          class="form-control"
          name="company"
          type="text"
          id="inputCompany"
          aria-describedby="Company Name"
          placeholder="{{'jobPostingsEdit.companyPlaceholder' | translate}}"
          [(ngModel)]="selectedJobItem.company">

        <input
          class="form-control"
          name="Position"
          type="text"
          id="inputPosition"
          aria-describedby="Position"
          placeholder="{{'jobPostingsEdit.positionPlaceholder' | translate}}"
          [(ngModel)]="selectedJobItem.position">

      </div>




      <label id="labelCompany">{{'jobPostingsEdit.pensum' | translate}}</label>

      <label id="labelPosition2">{{'jobPostingsEdit.category' | translate}}</label>

      <select
        class="selectStuff"
        id="selectPensum"
        [(ngModel)]="selectedJobItem.pensum"
        name="Pensum">
        <option hidden value="" disabled selected></option>
        <option hidden value="" disabled selected>{{'jobPostingsEdit.pensumPlaceholder' | translate}}</option>
        <option *ngFor="let n of pensumCount" [value]="n">{{n}}%</option>
      </select>

      <select
        class="selectStuff"
        [(ngModel)]="selectedJobItem.category"
        name="category">
        <option hidden value="" disabled selected>{{'jobPostingsEdit.categoryPlaceholder' | translate}}</option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>

      <label id="labelLocation">{{'jobPostingsEdit.location' | translate}}</label>

      <select
        class="selectStuff2"
        [(ngModel)]="selectedJobItem.location"
        name="location">
        <option hidden value="" disabled selected>{{'jobPostingsEdit.locationPlaceholder' | translate}}</option>

        <option *ngFor="let location of locations" [value]="location">{{location}}</option>
      </select>


      <label id="labelCompany">{{'jobPostingsEdit.description' | translate}}</label>

      <textarea
        name="Description"
        type="text"
        id="inputDescription"
        aria-describedby="Description"
        placeholder="{{'jobPostingsEdit.descriptionPlaceholder' | translate}}"
        [(ngModel)]="selectedJobItem.description">

      </textarea>
      <mat-card-actions class="actions">

        <button type="submit" id="buttonSubmit">{{'jobPostingsEdit.submit'| translate}}</button>
        <button type="button" (click)="cancel()" id="buttonDelete">{{'jobPostingsEdit.cancel' | translate}}</button>


      </mat-card-actions>
    </form>
  </mat-card>
</div>


