<div class="container">
  <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">

    <div class="form-group">
      <label for="password">{{'changepassword.password' | translate}}</label>
      <input type="text" class="form-control" id="password"
             required minlength="6" name="password"
              [(ngModel)]="password">
    </div>

    <div class="form-group">
      <label for="confirmPW">{{'changepassword.confirmPW' | translate}}</label>
      <input type="text" class="form-control" id="confirmPW"
             required minlength="6" name="confirmPW"
             [(ngModel)]="confirmPW">
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!passwordForm.form.valid">{{'changepassword.submit' |translate}}</button>
    </div>

  </form>
</div>




