<div class="container" style="margin: auto; margin-top: 5%; text-align: center">
  <mat-card >
    <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
      <mat-card-title style="color: #196c8a">{{user.username}}</mat-card-title>
      <mat-card-content>
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="{{'changepassword.password' | translate}}"
                   type="text" id="password"
                   required minlength="6" name="password"
                    [(ngModel)]="password">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="{{'changepassword.confirmPW' | translate}}" type="text" id="confirmPW"
                   required minlength="6" name="confirmPW"
                   [(ngModel)]="confirmPW">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="form-group">

          <button id="cancel" type="button" (click)="back()">{{'changepassword.cancel' | translate}}</button>
          <button id="save" type="submit" [disabled]="!passwordForm.form.valid">{{'changepassword.submit' |translate}}</button>

        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>




