.container {
  position: center;
  display: block;
  margin-top: 50px;
  box-sizing: border-box;
  max-width: 30%;
}

#cancel{
  background-color:#9f0031;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;
  margin-right: 5%;
}

#save{
  background-color:#196c8a;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Open Sans";
  font-size:20px;
  padding:5px 30px;
}


