@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}

.backgroundImg {

  display: table;
  margin: 0 auto;

  height: 700px;
  width: 600px;
  background-image: url("registerBg2.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  margin-top: 10%;
}

alreadyLogin{
  color: #32508E;
  text-underline: #32508E;
}


#usernameLabel{
   margin-left: 10%;
   font-size: 15px;
   color: black;
 }

#passwordLabel{
  margin-left: 10%;
  font-size: 15px;
  color: black;
}

#emailLabel{
  margin-left: 10%;
  font-size: 15px;
  color: black;
}


#username{
  border-radius: 50px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 50px;
  background-color: rgba(25, 108, 138, 0.5);
  border-color: transparent;
  color: white;
}


#password{
  border-radius: 50px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 50px;
  background-color: rgba(25, 108, 138, 0.5);
  border-color: transparent;
  color: white;
}

#email{
  border-radius: 50px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 50px;
  background-color: rgba(25, 108, 138, 0.5);

  border-color: transparent;
  color: white;
}



.registerButton{

  margin-top: 10%;
  background-color: black;
  border-radius:50px;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  border-color: transparent;
  cursor:pointer;

  color: #FFFFFF;
  font-family:"Open Sans";
  font-size:20px;
  text-align: center;
}

.registerButton:hover{
  background-color: grey;

}


#signUp{

  color: black;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.registerText{
  margin-top: 10%;
  color: white;
}


.divider{

  margin-left: 10%;

}

#agb{

  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 4%;


}

#already2{
  font-size: 17.5px;
  margin-left: 10%;
  margin-top: 5%;

}

#link{
  color: rgba(0, 0, 0, 0.8);
}
